*.class
*.project
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
/.settings/
/target/

Будет удалено chapter_001/part_001/src/uml/
Будет удалено chapter_002/part_001/.idea/workspace.xml
Будет удалено chapter_002/part_001/src/
Будет удалено chapter_002/part_002/src/
Будет удалено chapter_002/part_003/src/test/
Будет удалено chapter_002/part_004/src/
Будет удалено chapter_002/part_005/src/
